body {
	background: #2e2e2d url('../images/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', 'Roboto', 'Arial';
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0;
	padding: 0;
}

.container {
	position: absolute;
	top: 50%;
	margin-top: -200px;
	left: 0;
	width: 100%;
}

.logo-container {
	width: 190px;
	margin: 0 auto;
}

.logo-container .name {
	margin-top: 10px;
}

.logo-container .name p {
	color: #fff;
	line-height: 23px;
}

.logo-container .name .header {
	font-weight: bold;
	font-size: 16px;	
}

.logo-container .name .subtitle {
	font-weight: 300;
	font-size: 14px;	
}

.logo-container .logo .brand-image {
	display: block;
}

.table {
	width: 275px;
	margin: 20px auto;
}

.row {
	display: block;
	text-decoration: none;
	height: 55px;
  background-color: rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.row-first {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.row-last {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.row:hover {
	transition: background-color .25s ease-in-out;
	background-color: #0076ff;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}

.row:hover .title {
	color: #fff;
}

.row:hover .icon {
	opacity: 1;
}

.row:hover .arrow {
	opacity: 1;
}

.title {
	color: #fff;
	line-height: 55px;
	margin-left: 10px;
}

.icon {
	width: 32px;
	height: 32px;
	margin-left: 10px;
	margin-top: 11px;
	opacity: 0.65;
}

.arrow {
	width: 12px;
	height: 20px;
	background-image: url('../images/icons/icon-arrow.png');
	margin-top: 18px;
	margin-right: 10px;
	opacity: 0.65;
}

.icon-github {
	background-image: url('../images/icons/icon-github.png');
}

.icon-twitter {
	background-image: url('../images/icons/icon-twitter.png');
}

.icon-xing {
	background-image: url('../images/icons/icon-xing.png');
}

.icon-linkedin {
	background-image: url('../images/icons/icon-linkedin.png');
}

.icon-references {
	background-image: url('../images/icons/icon-references.png');
}

.icon-download {
	background-image: url('../images/icons/icon-download.png');
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.copyright {
	text-align: center;
	color: #fff;
	font-size: 12px;
}

.copyright a:hover {
	color: #0076ff;
}

.clear {
	float: none;
	clear: both;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) { 

	.icon {
		background-size: 32px 32px;
	}

	.icon-github {
		background-image: url('../images/icons/icon-github@2x.png');
	}
	
	.icon-twitter {
		background-image: url('../images/icons/icon-twitter@2x.png');
	}
	
	.icon-xing {
		background-image: url('../images/icons/icon-xing@2x.png');
	}
		
	.icon-linkedin {
		background-image: url('../images/icons/icon-linkedin@2x.png');
	}
	
	.icon-references {
		background-image: url('../images/icons/icon-references@2x.png');
	}
	
	.icon-download {
		background-image: url('../images/icons/icon-download@2x.png');
	}

	.arrow {
		background-image: url('../images/icons/icon-arrow@2x.png');
		background-size: 12px 20px;
	}
}
